.left-side {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20;
    -fx-pref-width: 250;
}

.right-side {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-pref-width: 550;
    -fx-max-width: Infinity;
}

.confirm-icon {
    -fx-cursor: hand;
    -fx-fill: #4A92FF;
}

.confirm-icon:hover {
    -fx-fill: #0078d7;
}

.cancel-icon {
    -fx-cursor: hand;
    -fx-fill: #FD4343;
}

.cancel-icon:hover {
    -fx-fill: #FF0000;
}